
$cw: 1088px;
$family1: Poppins-SemiBold, Poppins;
$lefts: 139px;

%type1{
    font-size: 14px;
    font-weight: 600;
    font-family: $family1;
    color: #5863f8;
}

%type2{
    font-weight: 500;
    font-family: $family1;
    font-size: 14px;
    color: #b1b1b1;
}

%type3{
    font-size: 42px;
    font-family: $family1;
    font-weight: 800;
    font-family: $family1;
}
body{
    padding: 0px;
    margin: 0px;
    overflow-x: hidden;
}

.topheader{
    width: 100%;
    height: 662px;
    // background-color: yellow;
    background-image: url("../images/Group 9.png");
    background-size: 100% 662px;
    // margin-bottom: 63px;
}
.header{
    width: $cw;
    height: 662px;
    // background-color: red;
    margin: auto;
    position: relative;
}

.zetta{
	font-size: 14px;
	font-family: $family1;
    font-weight: 600;
    color: white;
    position: absolute;
    top: 20px;
    cursor: pointer;
}

.home{
	display: inline-block;
	font-size: 12px;
    font-weight: 500;
    font-family: $family1;
    color: white;
    position: absolute;
    top: 21px;
    cursor: pointer;
}
.h1{right: 667px-139px;}
.h2{right: 573px-139px;}
.h3{right: 436px-139px;}
.h4{right: 328px-139px;}
.h5{right: 247px-139px;}
.h6{right: 0px;}

.best{
	font-size: 62px;
	font-weight: 800;
    font-family: $family1;
    color: white;
    position: absolute;
    top: 209px;
}

.lor1{
    font-size: 14px;
    font-family: $family1;
    color: white;
    position: absolute;
    top: 389px;
}

.theform{
    width: $cw;
    height: 148px;
    box-shadow: 0px 15px 30px;
    background-color: white;
    position: absolute;
    top: 588px;
}

.bio1{height: 63px;}

.bio{
    width: $cw;
    height: 641px;
    // background-color: blue;
    margin: auto;
    position: relative;
}

.trust{
    width: 444px;
    height: 388px;
    background-color: white;
    position: absolute;
    top: 128px;
}

.aus{
    @extend %type1;
    height: 20px;
    // background-color: yellow;
}

.quality{
    @extend %type3;
    height: 115px;
    // background-color: green;
    margin-top: 885px-884px;
}

.lor2{
    font-size: 16px;
    font-family: 500;
    font-family: $family1;
    margin-top: 10px;
    // background-color: purple;
}

.lor3{
    font-size: 14px;
    font-family: $family1;
    height: 84px;
    // background-color: grey;
    margin-top: 10px;
}

.readmore{
    width: 184px-1px;
    height: 50px-1px;
    background-color: #5863f8;
    margin-top: 20px;
    border: solid 1px #5863f8;
}

.readmore div{
    margin-left: 45px;
    margin-top: 14px;
    color: white;
    font-family: $family1;
    font-size: 14px;
}

.imgled{
    width: 536px;
    height: 461px;
    background-color: white;
    position: absolute;
    top: 90px;
    right: 0px;
}

.img74, .img75{display: inline-block;}

.img75{margin-left: 12px;}
.img77{margin-top: 12px;}
.toppalma{
    height: 612px;
    width: 100%;
    // background-color: red;
    background-image: url("../images/Group 13.png");
    background-size: 100% 612px;
    // position: relative;
}
.palmac{
    width: $cw;
    height: 612px;
    // background-color: white;
    margin: auto;
    position: relative;
}

.ausextra{
    position: absolute;
    top: 92px;
}

.bring{
    position: absolute;
    @extend %type3;
    color: white;
    height: 115px;
    // background-color: red;
    top: 92px+20px+1px;
}

.topfree{
    width: $cw;
    height: 260px;
    // background-color: yellow;
    position: absolute;
    top: 92px+20px+35px;
}

.free{
    width: 260px;
    height: 260px;
    background-color: white;
    display: inline-block;
    position: relative;
    text-align: center;
}

.free1{
    margin-left: 7.9px;
}

.round{
    width: 59px;
    height: 58px;
    background-color: #5863f8;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 27px;
    text-align: center;
}

.round img{
    margin-top: 12px;
}

.wifi{
    position: absolute;
    font-size: 18px;
    font-weight: 600;
    font-family: $family1;
    color: black;
    margin: auto;
    left: 50%;
    transform: translateX(-50%);
    width: 196px;
    top: 100px;
}

.lor4{
    @extend %type2;
    position: absolute;
    top: 172px;
}

.aleft{
    width: 60px;
    height: 60px;
    background-color: white;
    opacity: 0.3;
    position: absolute;
    top: 361px;
    left: -92px;
    text-align: center;
}
.aleft i{margin-top: 22px;}

.rleft{
    width: 60px;
    height: 60px;
    background-color: white;
    // opacity: 0.3;
    position: absolute;
    top: 361px;
    right: -92px;
    text-align: center;
    color: #5863f8;
}

.rleft i{margin-top: 22px;}

.toprestaurant{
    width: $cw;
    height: 762px;
    // background-color: red;
    margin: auto;
    position: relative;
}

.res{
    @extend %type1;
    height: 20px;
    position: absolute;
    top: 90px;
}

.explore{
    @extend %type3;
    position: absolute;
    top: 111px;
}

.topfood{
    width: $cw;
    height: 190px+190px+16px;
    // background-color: yellow;
    position: absolute;
    top: 276px;
}

.foodtop{
    height: 190px;
    width: $cw;
    // background-color: purple;
}

.foodbottom{   margin-top: 16px;}

.food1{
    width: 536px;
    height: 190px;
    background-color: #f8f8f8;
    display: inline-block;
    position: relative;
}

.food2{margin-left: 12px;}

.resfood{
    @extend %type1;
    height: 20px;
    position: absolute;
    top: 37px;
    left: 184px;
}

.resfresh{
    font-size: 18px;
    font-weight: 600;
    font-family: $family1;
    position: absolute;
    top: 57px;
    left: 184px;
}

.reslet{
    @extend %type2;
    position: absolute;
    top: 101px;
    left: 184px;
}

.resarrow{
    width: 60px;
    height: 60px;
    background-color: #5863f8;
    position: absolute;
    right: 0px;
    bottom: 0px;
    color: white;
    text-align: center;
    font-size: 20px;
}
.resarrow i{
    margin-top: 20px;
}

.topblog{
    width: $cw;
    height: 991px+20px;
    // background-color: red;
    margin: auto;
    position: relative;
}

.blog{
    @extend %type1;
    height: 20px;
    position: absolute;
    // top: 37px;
    // left: 184px;
}

.read{
    @extend %type3;
    position: absolute;
    top: 20px;
}

.topsucced{
    width: $cw;
    height: 720px+16px;
    position: absolute;
    top: 185px;
    // background-color: purple;
}

.succedtop{
    width: $cw;
    height: 360px;
    // background-color: yellow;
}

.suct2{margin-top: 16px;}

.read1{
    width: 352px;
    height: 360px;
    background-color: #f8f8f8;
    display: inline-block;
    position: relative;
    // text-align: center;
}
.r2{margin-left: 12px;}
.read1 img{position: absolute;}

.fal{
    position: absolute;
    text-align: center;
    // margin: auto;
    width: 100%;
    @extend %type1;
    height: 20px;
    top: 23px+212px;
}

.sih{
    width: 100%;
    text-align: center;
    position: absolute;
    font-size: 18px;
    font-weight: 600;
    font-family: $family1;
    top: 48px+212px;
}

.ffdf{
    @extend %type2;
    position: absolute;
    width: 100%;
    text-align: center;
    top: 83px+212px;
}

.ph{
    width: $cw;
    height: 185px;
    margin: auto;
    // background-color: red;
    position: relative;
}

.photos{
    @extend %type1;
    height: 20px;
    position: absolute;
}

.soulp{
    @extend %type3;
    position: absolute;
    top: 20px;
}

.lastphotos{
    width: $cw;
    height: 352px;
    background-color: red;
    margin: auto;
    position: relative;
}

.img1{
    position: absolute;
    right: 50%;
}

.img2{
    position: absolute;
    left: 50%;
}

.img3{
    position: absolute;
    right:544px+352px;
}

.img4{
    position: absolute;
    left :544px+352px;
}

.farrowl{
    width: 60px;
    height: 60px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #5863f8;
    opacity: 0.3;
    left: -60px;
    color: white;
    text-align: center;
    font-size: 20px;
}

.farrowr{
    width: 60px;
    height: 60px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #5863f8;
    right: -60px;
    text-align: center;
    font-size: 20px;
}

.farrowr i{margin-top: 20px;}
.farrowl i{margin-top: 20px;}

.wetrust{
    width: $cw;
    height: 487px;
    // background-color: red;
    margin: auto;
    position: relative;
}

.testim{
    @extend %type1;
    height: 20px;
    position: absolute;
    top: 76px;
}

.wtuc{
    @extend %type3;
    position: absolute;
    top: 97px;
}

.wimg1{
    position: absolute;
    top: 242px;
}

.name{
    font-size: 18px;
    font-weight: 600;
    font-family: $family1;
    position: absolute;
    top: 246px;
    left: 19px+57px;
}

.job{
    font-size: 12px;
    font-weight: 600;
    font-family: $family1;
    position: absolute;
    left: 19px+57px;
    top: 278px;
    opacity: 0.5;
}

.lastlor{
    font-size: 14px;
    font-weight: 500;
    font-family: $family1;
    position: absolute;
    top: 319px;
}

.wimg2{
    position: absolute;
    left: 783px-139px;
}

.but1{
    width: 60px;
    height: 60px;
    background-color: #5863f8;
    position: absolute;
    bottom: 0px;
    left: 783px-139px-60px;
    text-align: center;
}
.but1 i{font-size: 20px; margin-top: 20px;}
.but2 i{font-size: 20px; margin-top: 20px;}

.but2{
    width: 60px;
    height: 60px;
    background-color: white;
    position: absolute;
    bottom: 0px;
    left: 783px-139px;
    text-align: center;
}

.formm{
    width: 260px;
    height: 55px+19px;
    // background-color: grey;
    display: inline-block;
    margin-top: 32px;
    position: relative;
}

.f{
    margin-left: 92px;
}

.fn{
    margin-left: 12px;
}

.cid{
    font-size: 13px;
    font-weight: 500;
    font-family: $family1;
    color: #5863f8;
    position: absolute;
}

.icid{
    width: 260px;
    height: 50px;
    position: absolute;
    top: 24px;
    background-color: #eee;
    border: 1px solid #eee;
}

.icid, value{
    font-size: 13px;
    font-family: $family1;
    color: #cecece;
}
.send{
    display: inline-block;
    width: 51px;
    height: 51px;
    background-color: #5863f8;
    margin-left: 29px;
    // text-align: center;
    position: relative;
    font-size: 22px;
    color: white;
}

.send i{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
}

.lastb2{
    width: 60px;
    height: 60px;
    background-color: #5863f8;
    position: absolute;
    bottom: 74px;
    right: 0px;
    text-align: center;
}
.lastb2 i{font-size: 20px; margin-top: 20px;}
.lastb1 i{font-size: 20px; margin-top: 20px;}

.lastb1{
    width: 60px;
    height: 60px;
    background-color: white;
    position: absolute;
    bottom: 74px;
    // left: 783px-139px;
    right: 60px;
    text-align: center;
    // border-bottom: 1px black solid;
}

.topfooter{
    width: 100%;
    height: 395px;
    background-color: #121212;
}

.footer{
    width: $cw;
    height: 191px+114px;
    margin: auto;
    // background: red;
    position: relative;
}

.zhs{
    font-size: 24px;
    font-weight: 700;
    color: #fff;
    font-family: $family1;
    cursor: pointer;
}

.ourh{
    color: #b1b1b1;
    font-size: 14px;
    font-weight: 500;
    font-family: $family1;
    position: absolute;
    top: 53px;
}

%foob{
    color: #fff;
    font-size: 18px;
    font-family: $family1;
    font-weight: 600;
    position: absolute;
    top: 0px;
}

%foot{
    font-size: 14px;
    color: #5863f8;
    font-family: $family1;
    font-weight: 500;
    position: absolute;
}

.usl{
    @extend %foob;
    left: 200px+260px;
}

.psl{
    @extend %foob;
    left: 384px+260px;
}

.csl{
    @extend %foob;
    left: 568px+260px;
}

.b1, .b2, .b3, .b4{
    @extend %foot;
    left: 200px+260px;
    cursor: pointer;
}

.b5, .b6, .b7, .b8{
    @extend %foot;
    left: 384px+260px;
    cursor: pointer;
}

.b1, .b5{top: 20px+25px;}
.b2, .b6{top: 50px+25px;}
.b3, .b7{top: 80px+25px;}
.b4, .b8{top: 110px+25px;}

%footr{
    color: #fff;
    font-size: 14px;
    font-family: $family1;
    font-weight: 500;
    position: absolute;
    left: 997px-139px;
}

.e1, .e2, .e3{
    @extend %footr;
}
.e1, .i1{top: 20px+25px;}
.e2, .i2{top: 60px+25px;}
.e3, .i3{top: 100px+25px;}

%footicon{
    position: absolute;
    left: 967px-139px;
    color: #5863f8;
}

.i1, .i2, .i3{
    @extend %footicon;
}

.copyr{
    font-size: 14px;
    font-family: $family1;
    color: #b1b1b1;
    font-weight: 500;
    position: absolute;
    bottom: 40px;
    left: 0px;
}

.web{
    font-size: 14px;
    font-family: $family1;
    font-weight: 500;
    color: #5863f8;
    position: absolute;
    bottom: 40px;
    right: 0px;
}

.tf{
    height: 90px;
}

%socialy{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    position: absolute;
    bottom: 114px;
    color: white;
    text-align: center;
    // font-size: 20px;
}

.facey{
    @extend %socialy;
    background-color: #3b5998;
}
.facey i{margin-top: 8px;}
.twity i{margin-top: 8px;}
.gplusy i{margin-top: 8px;}

.twity{
    @extend %socialy;
    background-color: #55acee;
    left: 184.4px-139px;
}

.gplusy{
    @extend %socialy;
    background-color: #dc4e41;
    left: 230px-139px;
}

.tophead{
    width: 100%;
    height: 324px;
    // background-color: red;
    // position: relative;
    background-image: url("../images/Group 92.png");
    background-size: 100% 324px;
}

.head{
    width: $cw;
    height: 324px;
    // background-color: red;
    margin: auto;
    position: relative;
}

.abpage{
    @extend %type3;
    color: white;
    position: absolute;
    top: 146px;
}

.aboutdown{
    font-size: 14px;
    font-family: $family1;
    font-weight: 500;
    color: white;
    position: absolute;
    // word-spacing: 10px;
    top: 219px;
    cursor: pointer;
}

.aboutdown span span{
    margin-left: 10px;
    margin-right: 10px;
}

.topcheck{
    width: 100%;
    height: 190px;
    background-color: #f8f8f8;
}

.check{
    width: $cw;
    height: 190px-106px;
    // background-color: yellow;
    margin: auto;
    // margin-top: 53px;
}

.check1{
    width: 260px;
    height: 84px;
    // background-color: purple;
    display: inline-block;
    position: relative;
}

.c2{margin-left: 12px;}
.submit{
    position: absolute;
    width: 260px;
    height: 50px;
    background-color: #5863f8;
    top: 24px;
    text-align: center;
    color: white;
}

.submit div{
    margin-top: 15px;
}
.submit span{
    font-size: 13px;
    font-family: $family1;
}
.check0{
    height: 53px;
}

.topotaq{
    width: $cw;
    height: 858px;
    // background-color: red;
    margin: auto;
    position: relative;
    margin-top: 90px;
}

.otaqlar{
    width: $cw;
    height: 222px+190px+190px;
    // background-color: yellow;
    position: absolute;
    top: 185px;
}

.leftroom{
    width: 536px;
    height: 222px+190px+190px;
    // background-color: purple;
    display: inline-block;
}
.rroom{margin-left: 12px;}

.lr1{
    width: 536px;
    height: 190px;
    background-color: #f8f8f8;
    position: relative;
}
.lr1 img{ position: absolute;}
.lr2{margin-top: 16px;}

.boyukroom{
    @extend %type1;
    position: absolute;
    top: 37px;
    left: 184px;
}
.mostotaq{
    @extend %type2;
    position: absolute;
    left: 184px;
    top: 92px;
}

.spaotaq{
    font-weight: 600;
    font-size: 18px;
    font-family: $family1;
    position: absolute;
    left: 184px;
    top: 57px;
}

.otagaget{
    width: 60px;
    height: 190px;
    background-color: #5863f8;
    position: absolute;
    right: 0px;
    text-align: center;
    font-size: 20px;
}
.otagaget i{margin-top: 85px;}

.map{
    height: 286px;
    width: $cw;
    // background-color: red;
    margin: auto;
    margin-top: 50px;
}

.beforelast{
    width: $cw;
    height: 288px+185px;
    margin: auto;
    margin-top: 56px;
    // background-color: yellow;
    position: relative;
}

.elaqe{
    width: $cw;
    height: 288px;
    // background-color: purple;
    position: absolute;
    top: 185px;
}
.elaqe textarea{
    height: 288px;
    width: 720px;
    background-color: #f8f8f8;
    border: 2px solid #E0E0E0;
    display: inline-block;
}

.sagelaqe{
    width: 352px;
    height: 288px;
    // background-color: blue;
    display: inline-block;
    margin-left: 12px;
    position: relative;
}
.sagelaqe input{
    position: absolute;
    width: 352px;
    height: 60px;
    background-color: #f8f8f8;
    border: 2px solid #E0E0E0;
}

.ie{top: 76px;}
.ie2{top: 152px;}

.send1{
    width: 352px;
    height: 60px;
    position: absolute;
    bottom: 0px;
    background-color: #5863f8;
    text-align: center;
    color: white;
}
.send1 span{
    font-size: 14px;
    font-family: $family1;
}

.sendi{
    margin-top: 20px;
}

.epl{
    width: $cw;
    height: 89px+58px;
    // background-color: yellow;
    margin: auto;
    margin-top: 50px;
    position: relative;
}

.epl1, .epl2, .epl3{
    height: 89px+58px;
    width: 250px;
    // background-color: purple;
    position: absolute;
}
.epl1{left: 46px;}
.epl3{right: 46px;}
.epl2{
    left: 50%;
    transform: translateX(-50%);
}

.mailbox{
    width: 59px;
    height: 58px;
    border-radius: 50%;
    background-color: #5863f8;
    margin: auto;
    color: white;
    text-align: center;
    font-size: 15px;
}

.mailbox i{margin-top: 20px;}

.mailmid{
    font-size: 18px;
    font-weight: 600;
    font-family: $family1;
    height: 25px;
    width: 100%;
    background-color: white;
    text-align: center;
    margin-top: 15px;
}

.mailbot{
    @extend %type2;
    width: 100%;
    text-align: center;
    margin-top: 5px;
}

